.process-diagram-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 50%;
    background-color: var(--light-gray);
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.process-diagram-container__control {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    outline: 1px solid white;
}

.process-diagram-container__control-timer {
    height: 100px;
    width: 100px;
    outline: 2px solid white;
    font-size: 72px;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
          color: black;
}

.process-diagram-container__control-start-timer-btn {
    height: 50px;
    width: 50px;
    outline: 2px solid white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../images/play.png');
    background-size: cover;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.process-diagram-container__control-start-timer-btn:hover {
    transform: scale(1.05);
    background-color: white;

}

.process-diagram-container__control-start-timer-btn.started {
    background-image: url('../images/pause.png');
}

.process-diagram-container__diagram {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process-diagram-container__diagram-core-line {
    outline: 2px solid blue;
    padding: 2px;
    margin: 5px;
}